<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Top 10 Characters</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <button ion-item *ngFor="let character of characters" (click)="itemTapped($event, character)">
            <ion-card>
                <ion-item>
                <ion-avatar>
                    <img src="{{character.imageUrl}}" *ngIf="character.imageUrl"/>
                    <ion-icon name="contact" item-left *ngIf="!character.imageUrl"></ion-icon>
                </ion-avatar>
                    <h2>{{character.name}}</h2>
                </ion-item>
                <ion-card-content>
                    <p>Gender: {{character.gender}}</p>
                    <p>Birth Year: {{character.birth_year}}</p>
                </ion-card-content>
            </ion-card>
        </button>
    </ion-list>
</ion-content>
