<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Top 10 Star Wars Characters</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card *ngFor="let character of characters">
            <ion-item>
                <ion-icon name="contact" item-left></ion-icon>
                <h2>{{character.name}}</h2>
            </ion-item>
            <ion-card-content>
                <p>Gender: {{character.gender}}</p>
                <p>Birth Year: {{character.birth_year}}</p>
            </ion-card-content>
        </ion-card>
    </ion-list>
<!--         <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
            <ion-icon name="{{item.icon}}" item-left></ion-icon>
            {{item.icon}}
            {{item.title}}
            <div class="item-note" item-right>
                {{item.note}}
            </div>
        </button>
    </ion-list> -->
</ion-content>
