<ion-header>
    <ion-navbar>
        <button menuToggle *ngIf="!selectedCharacter">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Character Details</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <h3 text-center *ngIf="selectedCharacter">
    {{selectedCharacter.name}}
        <img src="{{selectedCharacter.imageUrl}}" *ngIf="selectedCharacter.imageUrl"/>
        <ion-icon name="contact" item-left *ngIf="!selectedCharacter.imageUrl"></ion-icon>
        <p>Gender: {{selectedCharacter.gender}}</p>
        <p>Birth Year: {{selectedCharacter.birthYear}}</p>
        <p>Height: {{selectedCharacter.height}}</p>
        <p>Planet: {{selectedCharacter.planet}}</p>
    </h3>
</ion-content>
